<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.dao.AddressMapper">
    <resultMap id="BaseResultMap" type="com.example.backend.model.Address">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="addressID" jdbcType="VARCHAR" property="addressID" />
        <result column="userID" jdbcType="VARCHAR" property="userID" />
        <result column="receiver" jdbcType="VARCHAR" property="receiver" />
        <result column="telephone" jdbcType="VARCHAR" property="telephone" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="district" jdbcType="VARCHAR" property="district" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="defaultAdd" jdbcType="VARCHAR" property="defaultAdd" />
        <result column="zipCode" jdbcType="VARCHAR" property="zipCode" />

    </resultMap>


    <insert id="addAddress" parameterType="com.example.backend.model.Address" >
        INSERT INTO address ( addressID,userID,receiver,telephone,province,city,district,detail,defaultAdd,zipCode )
        values ( #{addressID},#{userID},#{receiver},#{telephone},#{province},#{city},#{district},#{detail},#{defaultAdd},#{zipCode} )
    </insert>

    <delete id="deleteByAddressID" parameterType="String">
        DELETE FROM address WHERE addressID = #{addressID}
    </delete>

    <update id="updateAddress" parameterType="com.example.backend.model.Address">
        UPDATE address
        SET receiver=#{receiver},telephone=#{telephone},province=#{province},city=#{city},district=#{district},detail=#{detail},defaultAdd=#{defaultAdd},zipCode=#{zipCode}
        WHERE addressID=#{addressID}
    </update>

    <select id="userAddressList" parameterType="String" resultType="com.example.backend.model.Address">
        SELECT *
        FROM address
        WHERE userID=#{userID}
    </select>

    <select id="findByAddressID" parameterType="String" resultType="com.example.backend.model.Address">
        SELECT *
        FROM address
        WHERE addressID=#{addressID}
    </select>
</mapper>