<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.example.backend.model.Comment">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="commentID" jdbcType="VARCHAR" property="commentID" />
        <result column="orderID" jdbcType="VARCHAR" property="orderID" />
        <result column="productID" jdbcType="VARCHAR" property="productID" />
        <result column="userID" jdbcType="VARCHAR" property="userID" />
        <result column="commentTime" jdbcType="TIMESTAMP" property="commentTime" />
        <result column="commentContent" jdbcType="VARCHAR" property="commentContent" />
        <result column="evaluation" jdbcType="VARCHAR" property="evaluation" />
        <result column="commentPhoto" jdbcType="VARCHAR" property="commentPhoto" />
        <result column="reply" jdbcType="VARCHAR" property="reply" />
        <result column="replyTime" jdbcType="TIMESTAMP" property="replyTime" />

    </resultMap>

    <insert id="addComment" parameterType="com.example.backend.model.Comment">
        INSERT INTO comment ( commentID,orderID,productID,userID,commentTime,commentContent,evaluation,commentPhoto,reply,replyTime )
        values (#{commentID},#{orderID},#{productID},#{userID},#{commentTime},#{commentContent},#{evaluation},#{commentPhoto},#{reply},#{replyTime})
    </insert>

    <update id="replyComment" parameterType="com.example.backend.web.model.ReplyRequest">
        UPDATE comment
        SET reply=#{reply}, replyTime=#{replyTime}
        WHERE commentID=#{commentID}
    </update>

    <select id="commentList" parameterType="String" resultType="com.example.backend.model.Comment">
        SELECT *
        FROM comment
        WHERE productID=#{productID}
    </select>
    
    <select id="allComment" resultType="com.example.backend.model.Comment">
        SELECT *
        FROM comment
        limit #{page},#{size}
    </select>
</mapper>