<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.dao.CouponMapper">
    <resultMap id="BaseResultMap" type="com.example.backend.model.Coupon">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="couponID" jdbcType="VARCHAR" property="couponID" />
        <result column="couponName" jdbcType="VARCHAR" property="couponName" />
        <result column="restriction" jdbcType="DECIMAL" property="restriction" />
        <result column="discount" jdbcType="DECIMAL" property="discount" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="productType" jdbcType="VARCHAR" property="productType" />
        <result column="timeLimit" jdbcType="INTEGER" property="timeLimit" />
    </resultMap>

    <insert id="addCoupon" parameterType="com.example.backend.model.Coupon" >
        INSERT INTO coupon ( couponID,couponName,restriction,discount,description,productType,timeLimit ) values(#{couponID},#{couponName},#{restriction},#{discount},#{description},#{productType},#{timeLimit})
    </insert>

    <select id="findByCouponID" parameterType="String" resultType="com.example.backend.model.Coupon">
        SELECT *
        FROM coupon
        WHERE couponID=#{couponID}
    </select>

    <select id="couponList" resultType="com.example.backend.model.Coupon">
        SELECT *
        FROM coupon
        limit #{page},#{size}
    </select>

    <delete id="deleteCoupon" parameterType="String">
        DELETE FROM coupon WHERE couponID=#{couponID}
    </delete>
</mapper>