<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.example.backend.model.Order">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="orderID" jdbcType="VARCHAR" property="orderID" />
        <result column="userID" jdbcType="VARCHAR" property="userID" />
        <result column="addressID" jdbcType="VARCHAR" property="addressID" />
        <result column="couponID" jdbcType="VARCHAR" property="couponID" />

        <result column="totalAmount" jdbcType="DECIMAL" property="totalAmount" />
        <result column="actualPayment" jdbcType="DECIMAL" property="actualPayment" />

        <result column="orderTime" jdbcType="TIMESTAMP" property="orderTime" />
        <result column="paymentTime" jdbcType="TIMESTAMP" property="paymentTime" />
        <result column="receiptTime" jdbcType="TIMESTAMP" property="receiptTime" />

        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="courierID" jdbcType="VARCHAR" property="courierID" />
        <result column="deliveryMethod" jdbcType="VARCHAR" property="deliveryMethod" />
    </resultMap>

    <insert id="addOrder" parameterType="com.example.backend.model.Order">
        INSERT INTO orderTable ( orderID,userID,addressID,couponID,totalAmount,actualPayment,orderTime,paymentTime,receiptTime,state,remark,courierID,deliveryMethod)
        values (#{orderID},#{userID},#{addressID},#{couponID},#{totalAmount},#{actualPayment},#{orderTime},#{paymentTime},#{receiptTime},#{state},#{remark},#{courierID},#{deliveryMethod})
    </insert>

    <select id="findByOrderID" parameterType="String" resultType="com.example.backend.model.Order">
        SELECT *
        FROM orderTable
        WHERE orderID=#{orderID}
    </select>

    <select id="findByUserID" parameterType="String" resultType="com.example.backend.model.Order">
        SELECT *
        FROM orderTable
        WHERE userID=#{userID}
    </select>

    <select id="orderList" resultType="com.example.backend.model.Order">
        SELECT *
        FROM orderTable
        limit #{page},#{size}
    </select>

    <update id="updateOrder" parameterType="com.example.backend.model.Order">
        UPDATE orderTable
        SET totalAmount=#{totalAmount},state=#{state},remark=#{remark},courierID=#{courierID},deliveryMethod=#{deliveryMethod}
        WHERE orderID=#{orderID}
    </update>

    <select id="stateFilter" resultType="com.example.backend.model.Order">
        SELECT *
        FROM orderTable
        WHERE state=#{state}
        limit #{page},#{size}
    </select>

    <select id="stateOrderNum" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM orderTable
        WHERE state=#{state}
    </select>

    <select id="orderTotal" resultType="Integer">
        SELECT COUNT(*) FROM orderTable
    </select>

</mapper>