<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.example.backend.model.Product">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="productID" jdbcType="VARCHAR" property="productID" />
        <result column="productName" jdbcType="VARCHAR" property="productName" />
        <result column="imageList" jdbcType="VARCHAR" property="imageList" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="classification" jdbcType="VARCHAR" property="classification" />
        <result column="tab" jdbcType="VARCHAR" property="tab" />
        <result column="coverImage" jdbcType="VARCHAR" property="coverImage" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="sketch" jdbcType="VARCHAR" property="sketch" />
        <result column="keyword" jdbcType="VARCHAR" property="keyword" />

    </resultMap>

    <insert id="addProduct" parameterType="com.example.backend.model.Product">
        INSERT INTO product (productID,productName,imageList,description,classification,tab,coverImage,state,sketch,keyword)
        values(#{productID},#{productName},#{imageList},#{description},#{classification},#{tab},#{coverImage},#{state},#{sketch},#{keyword})
    </insert>

    <select id="productDetail" parameterType="String" resultType="com.example.backend.model.Product">
        SELECT *
        FROM product
        WHERE productID=#{productID}
    </select>

    <update id="updateProduct" parameterType="com.example.backend.model.Product">
        UPDATE product
        SET productName=#{productName},imageList=#{imageList},description=#{description},classification=#{classification},tab=#{tab},coverImage=#{coverImage},state=#{state},sketch=#{sketch},keyword=#{keyword}
        WHERE productID=#{productID}
    </update>
</mapper>